extends baseEmail

block content
  // CONTENT
  p Hi #{firstName},
  p Please confirm your email
  p Confirmation link will expire in 30 days
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Confirm Email
  p Thanks,
  p DevCamper Team
